<?xml version="1.0" encoding="utf-8"?>
<launch>
	<arg name="ip" default="127.0.0.1" />
	<arg name="name" default="khepera_node" />
	<node pkg="khepera_node" type="khepera_node" name="$(arg name)" args="$(arg ip)" required="true">
		<param name="urg" value="true"/>
	</node>
	<node pkg="tf" type="static_transform_publisher" name="worldmap_transform" args="0 0 0 0 0 0 map world 10" />
</launch>